<hkmr-Home-Navbar>Loading...</hkmr-Home-Navbar>

<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-2 side" style="background-color: red;">
      <!-- not sure if i want col-2, but ill make the sidebar first and then make this right -->
      <!-- for now the sidebar will just be to hold the pieces, but i still want it to collapse -->
      <hkmr-Home-Sidebar>Loading...</hkmr-Home-Sidebar>
    </div>

    <div class="col">
      Bussin
    </div>

  </div>


  
  <!-- for testing, put in col once done -->

</div>





