<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid bar">
        
        <a class="navbar-brand" href="https://www.youtube.com/watch?v=0dvr167Klgs" target="_blank">
            <img src="/assets/Poggies.png" alt="" width="30" height="24">
          </a>

      <div class="navbar-brand text" href="#">HKMR</div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active text" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active text" href="#">Profile</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>