<div class="container side">
    <div class="search">
        <input class="form-control me-2 inSearch" type="search" placeholder="Search" aria-label="Search">
    </div>
    
    <!-- this is where the map parts box and shops/info will be put, they are components, this is just a placeholder component -->

    
    
   


    <div class="accordion BotBar" id="accordionPanelsStayOpenExample">


        <div class="accordion-item IC">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button info" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Map Pieces
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                
                <div class="MHB" style="color: white;">
                    <hkmr-Home-MapBox>Loading...</hkmr-Home-MapBox>
                    testing some text
                </div>
            
            </div>
          </div>
        </div>
        
        
        <div class="accordion-item IC">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed info" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Shops
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">

                <div class="" style="color: white;">
                    <hkmr-Home-InfoCard>Loading...</hkmr-Home-InfoCard>
                </div>
            
            </div>
          </div>
        </div>

</div>