<!-- make this into a loop with data from database -->
<!-- this is the component that will house all the text check boxes for the maps on the side bar. to make things less
complicated and less code on one file, this will house the for loop for the component that will be repeated and have the
attributes for the images needed in the dropbox.-->

<div class="div">
    <div class="container">
        <a class="navbar-brand bar" href="https://www.youtube.com/watch?v=0dvr167Klgs" target="_blank">
            <img src="/assets/Poggies.png" alt="" width="30" height="24">
          </a>
    </div>
</div>

