<!-- make this into a loop with data from database -->
<!-- this is the component that will house all the text check boxes for the maps on the side bar. to make things less
complicated and less code on one file, this will house the for loop for the component that will be repeated and have the
attributes for the images needed in the dropbox.-->

<!-- I should add click boxes not only for the different map pieces based on area but also for piece types. ie. straights,
3 exits, 2 exits, a fall area, a elevator -->

<!-- after making the model and list stuff i need to make this component the clickable boxes so that it repeats -->

<!-- maybe I could make it a clickable text button for the map areas and the boxes can be for the shape type instead
of all having boxes -->



<div class="input-group">
    <div class="input-group-text checkbox back">
      <input class="form-check-input mt-0 box" type="checkbox" value="" aria-label="Checkbox">
      <div class="checkbox-label">
        {{mapNames}}
    </div>
    </div>
  </div>