.search {
    padding-top: 40px;
}

.inSearch {
    background-color: #252b43;
    box-shadow: rgb(0 0 0 / 33%) 0px 3px 5px inset;
    border: 1px solid rgb(55, 63, 90);
    color: white;
}

.MHB {
    /* padding-top: 100px; */
}

.IC {
    margin-bottom: 10px;
    background-color: #252b43;
}

.info {
    background-color: #252b43;
    box-shadow: rgb(0 0 0 / 33%) 0px 3px 5px inset;
    border: 1px solid rgb(55, 63, 90);
    color: white;
    outline: none;
}

.BotBar {
    padding-top: 100px;
}

.side {
    width: 370px;
}